<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style type="text/css">
            body {
                background-color: #0e153a;
            }
        </style>
    </head>

    <body>
        <div class="container-fluid">
            <!--Header1-->
            <div class="row">
                <div class="col-md-4">
                    <h3 style="color: #e2f3f5">ORIGINAL</h3>
                </div>
            </div>
            <!--Audio player 1-->
            <br>
            <div class="row">
                <div class="col-md-4">
                    <audio controls src= {{ upload }} preload="auto"></audio>
                </div>
            </div>
            <!--Header2-->
            <div class="row">
                <div class="col-md-4">
                    <h3 style="color: #e2f3f5">KEY</h3>
                </div>
            </div>
            <!--Key input-->
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder={{ edk }} aria-describedby="basic-addon1">  
                </div>
            </div>
            <!--Operation button-->
            <br>
            <div class="row">
                    <div class="col-md-4">
                        <h3 style="color: #e2f3f5">MODIFIED</h3>
                    </div>
                </div>
            <!--Audio player 2-->
            <br>
            <div class="row">
                <div class="col-md-4">
                    <audio src={{ modified }} controls></audio>
                </div>
            </div>
        </div>    
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>