<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style type="text/css">
            body {
                background-color: #0e153a;
            }
        </style>
    </head>

    <body>
        <div class="container-fluid">
            <br>
            <div class="well well-md" style="text-align: center;" >
                <a href="/player">VIOLIN - Free Sounds</a>
            </div>
            <div class="well well-md" style="text-align: center;" >
                <a href="#">TEST1 - Demo Artist 1</a>
            </div>
            <div class="well well-md" style="text-align: center;" >
                <a href="#">TEST2 - Demo Artist 2</a>
            </div>
        </div>
    </body>
</html>